# Ignore datasets and checkpoints
datasets/
checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# OS junk
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

